<h1><%= @recipe.name %></h1>
<div>
    <%= link_to "Back", @recipe %>
</div>
<h2>Ingredients</h2>
<turbo-frame id="ingredients">
    <ul>
        <% @recipe.recipe_ingredients.each do |ingredient| %>
            <li>
                <%= button_to "✘", recipe_ingredient_path(@recipe, ingredient.ingredient), method: :delete %>
                <%= form_with model: ingredient, class: "inline" do |form| %>
                    <%= form.text_field :amount %>
                    <%= form.submit "save" %>
                    <strong><%= ingredient.ingredient.name %></strong>
                <% end %>
            </li>
        <% end %>
        <li>
            <turbo-frame id="new_recipe">
                <a class="new"
                   href="<%= new_recipe_ingredient_path(@recipe) %>">
                    <i>Add ingredient</i>
                </a>
            </turbo-frame>
        </li>
    </ul>
</turbo-frame>

<h2>Instructions</h2>
<%= form_with model: @recipe do |form| %>
    <div>
        <%= form.text_area :instructions, size: "120x30" %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>
