<h1>
    <%= @recipe.name %>
</h1>

<%= link_to "Back", recipes_path %>
<%= link_to "Edit", edit_recipe_path(@recipe) %>
<h2>Ingredients</h2>
<ul>
    <% @recipe.ingredients.each do |ingredient| %>
        <li>
            <i><%= ingredient.amount_for(@recipe) %></i>
            <strong><%= ingredient.name %></strong>
            <% if !ingredient.in_stock %>
                <strong style="color: red">Out Of Stock</strong>
            <% end %>
        </li>
    <% end %>
</ul>

<h2>Instructions</h2>
<div>
    <%= @recipe.instructions %>
</div>
