<h1>
    <%= @recipe.name %>
</h1>

<%= link_to "Back", recipes_path %>
<%= link_to "Edit", edit_recipe_path(@recipe) %>
<h2>Ingredients</h2>
<ul>
    <% @recipe.recipe_ingredients.each do |ingredient| %>
        <li>
            <i><%= ingredient.amount %></i>
            <strong><%= ingredient.name %></strong>
        </li>
    <% end %>
</ul>

<h2>Instructions</h2>
<div>
    <%= @recipe.instructions %>
</div>
